body{
    background-color:rgb(45, 39, 39);
}
#para{
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
}
#container{
    text-align: center;
    position: relative;
    top: 30px;
}
#bouton{
    width: 150px;
    height: 100px;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Times New Roman';
    background-color: aquamarine;
    text-align: center;
    border-radius: 20px;
    border-color: aquamarine;
}
#bouton:focus{
    outline: 0;
}
p{
    width: 200px;
    position: relative;
    top: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: azure;
}